FAQ

Was ist ein Abonnement?

Ein Abonnement ist ein Bezahlungssystem, welches automatisch von deiner Kreditkarte abbucht. Je nach der Länge deines Abonnements wird auch Geld von deiner Kreditkarte abgebucht. Bespiele dafür sind Netflix oder Spotify. Es macht es einfacher jeden Monat den Geldbetrag Zahlen zu müssen. Die Abonnements können jeder Zeit beendet werden und es wird dennoch möglich sein, das Abonnement bis zum Ende des bereits bezahlten Monats zu nutzen.

Kann man ein Abonnement beenden?

Du kannst dein Abonnement jeder Zeit beenden und die bereits bezahlten Monate trotzdem voll ausnutzen.

Wie lang bin ich für dieses Lifetime Upgrade qualifiziert?

Eine Woche nach dieser Ankündigung werden wir Anfragen für Lifetime Ränge annehmen, wenn du die benötigte Summe (30$ für Donator, 50$ für Donator+, 75$ für Lion) in der Vergangenheit auf einen 1 Monat Rang bezahlt hast, erstelle bitte hier einen neuen Forum Post: https://www.badlion.net/forum/category/37. Danach wirst du deinen kostenlosen Lifetime Rang erhalten. Dazu wirst du für die kostenlose Badlion Premium Zeit qualifiziert.

Wann kann ich Badlion Premium bestellen?

Ab dem 7. Dezember kannst du das Badlion Premium Produkt kaufen. Der Kauf von Badlion Premium wird dir Beta Zugang bis zum eigentlichen Erscheinen geben. Dein eigentlicher Kauf wird am Tag des Erscheinens des kompletten Server in Kraft treten.

Ich will Badlion Premium für eine ermäßigte Rate kaufen, obwohl ich durch meinen Lifetime Rang bereits kostenlose Zeit bekommen habe. Ist das möglich?

Ja. Für die Leute, die bereits kostenlose Badlion Premium Zeit bekommen haben, gibt es die Möglichkeit, während der Beta Phase noch mehr kostenlose Zeit zu bekommen. Beispiel: Du bist Donator+  und kaufst dir für ein Jahr lang Badlion Premium für 71.95$ für das erste Jahr. Dz wirst dadurch 6 kostenlose Monate erhalten, plus das Jahr, welches du gekauft hast. Das heißt, du hast insgesamt 18 Monate lang Badlion Premium.

Ich will kein Abonnement, da ich keine automatischen Abbuchungen mag. Kann ich das Produkt trotzdem kaufen?

Ja. Es besteht die Möglichkeit, für 10% mehr ein 1 Jahr Abonnement zu erhalten. Das machen wir, als eine spezielle Möglichkeit.

